.cta-container {
    background: var(--primary-color);
    display: flex;
    justify-content: space-evenly;
    height: 600px;
    border-radius: 12px;
    gap: 1rem;
    width: 100%;
}
.cta-image {
    position: relative;
    width: max-content;
    display: inline-block;
    margin-top: 8rem;
    margin-left: 8rem;
}
.base-image {
    width: 110%;
    display: block;
}
.bitmap-card {
    position: absolute;
    bottom: 175px;
    right: -80px;
    background-color: var(--background);
    padding: 20px;
    border-radius: 8px;
    transform: rotate(-5deg);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    z-index: 2;
}
.bitmap-image {
    display: block;
    width: 120px;
    height: auto;
}
.cta-text {
    color: var(--background);
    font-family: var(--main-font);
    width: 50%;
    margin: 10rem;
    margin-top: 12rem;
}
.cta-text h2 {
    font-size: 28px;
}
.cta-text p {
    width: 80%;
    font-weight: 300;
}
.shop-btn button{
    background-color: transparent;
    border: none;
    color: var(--background);
}