.cta-container {
    background: var(--primary-color);
    display: flex;
    justify-content: space-evenly;
    height: 600px;
    border-radius: 12px;
    gap: 1rem;
    width: 100%;
}
.cta-image {
    margin-top: 6rem;
    margin-left: 8rem;
}
.cta-image img {
    height: 450px;
    width: 400px;
} 
.bitmap {
    background-color: var(--background);

    position: absolute;
    border-radius: 12px;
    width: 150px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.bitmap img {
    max-width: 80%;
    max-height: 80%;
    object-fit: contain;
}
.cta-text {
    color: var(--background);
    font-family: var(--main-font);
    width: 50%;
    margin: 10rem;
}
.cta-text h2 {
    font-size: 28px;
}
.shop-btn button{
    background-color: transparent;
    border: none;
    color: var(--background);
}