.category-card {
    background: #f4f7fa;
    border-radius: 8px;
    padding: 12px;
    text-align: left;
    color: var(--secondary-color);
}
.category-card h4 {
    color: var(--secondary-color);
    margin-left: 1rem;
    font-size: 20px;
    margin-bottom: 0.5rem;

}
.category-card p {
    color: #797979;
    margin-left: 1rem;
    margin-top: 0;

}
.category-card img {
    width: 35%;
    display: block;
    margin: 1rem auto;
    height: auto;
}
.category-card:nth-child(1) img {
    height: auto;
    width: 45%;
}
.category-card:nth-child(5) img {
    height: auto;
    width: 54%;
}

.category-card:nth-child(1) {
    width: 280px;
    height: 290px;
}
.category-card:nth-child(2) {
    width: 280px;
    height: 222px;
    background: #fff;
}
.category-card:nth-child(3) {
    width: 280px;
    height: 290px;
}
.category-card:nth-child(4) {
    width: 280px;
    height: 253px;
}
.category-card:nth-child(5) {
    width: 280px;
    height: 340px;
    transform: translateY(-90px);
    z-index: 2;
}
.category-card:nth-child(6) {
    width: 280px;
    height: 251px;
}