.cta-contain {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height:  700px; 
    position: relative;
    display: flex;
    align-items: center;
    color: #fff; /* optional: adjust based on your text and image contrast */
    text-align: left;
    padding: 0 auto;
    margin-top: 0.8rem;
    font-family: var(--main-font);
}
.cta-txt {
    width: 450px;
    text-align: center;
    margin-left: 25rem;
}
.cta-txt h1 {
    font-size: 40px;
    text-align: center;
}
.cta-txt button {
    background: var(--accent);
    border: none;
    color: var(--secondary-color);
    height: 45px;
    border-radius: 6px;
    font-weight: bold;
    width: 160px;
}