.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(---background-color);
}
.logo {
    font-family: var(--logo-font);
    color: var(--secondary-color);
    font-weight: bold;
    letter-spacing: -0.13px;
    margin: 0.3rem;
}
.nav-links {
    display: flex;
    gap: 20px;
    font-family: var(--main-font);
    font-weight: 800;
    margin-left: -5rem;
}
.nav-links li {
    list-style: none;
    color: var(--secondary-color);
    font-size: 10px;
    cursor: pointer;
    transition: color 0.3s ease;
    letter-spacing: -0.1px;
}
