.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(---background-color);
}
.logo {
    font-family: var(--logo-font);
    color: var(--secondary-color);
    font-weight: bold;
    letter-spacing: -0.13px;
    margin-left: 0.5rem;
    font-size: 20px;
    margin-top: 1rem;
}
.nav-links {
    display: flex;
    gap: 30px;
    font-family: var(--main-font);
    font-weight: 800;
    margin-left: -5rem;
    margin-right: 3rem;
}
.nav-links li {
    list-style: none;
    color: var(--secondary-color);
    font-size: 10px;
    cursor: pointer;
    transition: color 0.3s ease;
    letter-spacing: -0.1px;
    font-size: 12px;
}
.cart-icon img {
    margin-right: 1rem;
    height: 18px;
}
